---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import WorkCard from "@components/WorkCard";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import { SOCIALS } from "@config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
const linkBtnClass =
  "hover:text-skin-accent underline underline-offset-4 decoration-dashed";
---

<Layout>
  <Header activeNav={"about"} />
  <main id="main-content">
    <section id="hero">
      <h1 class="text-skin-accent">👋 Hello!</h1>

      <p>
        I'm David - a developer, student, <LinkButton
          className={linkBtnClass}
          href="https://www.prisma-safety.com/"
          newTab={true}
        >
          co-founder
        </LinkButton> & volunteer from Cluj, 🇷🇴. Not specifically in that order.
      </p>
      <br class="select-none" aria-hidden="true" />
      <p>
        I generally work as a full-stack developer, doing anything from mobile
        apps with Flutter to web apps & pages or backend services.
      </p>
      <p>
        I also volunteer @ <LinkButton
          className={linkBtnClass}
          href="https://dpit.ro/"
          newTab={true}
        >
          Asociația DPIT
        </LinkButton> where high school students can experience working in a real
        company!
      </p>
      {
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="social-wrapper">
            <div class="social-links">Socials:</div>
            <Socials />
            <div class="sm:ml-4">
              or just
              <LinkButton
                className={linkBtnClass}
                title={"davidpescariu12 (at) gmail (dot) com"}
                href="mailto:davidpescariu12@gmail.com?subject=Hello!"
                newTab={true}
              >
                write me an email
              </LinkButton>
              !
            </div>
          </div>
        )
      }
    </section>

    <Hr />

    <section id="featured">
      <h2>My Work</h2>
      <ul>
        <WorkCard
          title="Co-Founder & Head of Development - Prisma"
          fromTo="Apr 2021 - Present"
        >
          <ul class="list-disc">
            <li>
              Manage development & implement the Prisma App (Flutter), Prisma
              Websites & Platforms (Svelte/SvelteKit) and all backend
              infrastructure - public and private REST APIs.
            </li>
            <li>
              Develop caching systems using HiveDB to decrease the mobile app's
              startup time by 5 times
            </li>
            <li>
              Implement billing services with Stripe and authentication flows
              using Auth0.
            </li>
            <li>
              Handle CI / CD of our platforms - Front facing platforms on
              Netlify and backend infra on Heroku and Lambdas.
            </li>
            <li>
              If anything ever happened to you, submit a report on the <LinkButton
                className={linkBtnClass}
                href="https://reports.prisma-safety.com/"
                newTab={true}
                title={"Open the platform (new tab)"}
              >
                Open Reports platform
              </LinkButton>!
            </li>
          </ul>
        </WorkCard>

        <WorkCard
          title="Freelance Web Developer"
          fromTo="Nov 2020 - Mar 2021"
        >
          <ul class="list-disc">
            <li>
              Design & Implement mobile-first web experiences using Svelte suited to my client's needs  
            </li>
            <li>
              Increased traffic to their platforms by up to 80%, thus improving their long-term revenue and reach.
            </li>
            <li>
              Constantly engaged with my customers to ensure satisfaction.
            </li>
          </ul>
        </WorkCard>
      </ul>
    </section>

    <Hr />

    <section id="recent-posts">
      <h2>Blog Posts</h2>
      <ul>
        {
          sortedPosts.map(
            ({ data }, index) =>
              index < 4 && (
                <Card
                  href={`/posts/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              )
          )
        }
      </ul>
      <div class="all-posts-btn-wrapper">
        <LinkButton href="/posts">
          All Posts
          <svg xmlns="http://www.w3.org/2000/svg"
            ><path
              d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
            ></path>
          </svg>
        </LinkButton>
      </div>
    </section>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pt-8 pb-6;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mr-2 mb-1 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pt-12 pb-6;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
